@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

.page-header {
  color: #000000;
}

.navigation-link {
  color: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.reasons-item:nth-child(1),
.reasons-item:nth-child(2) {
  background-color: #83b3d3;
}

.reasons-item:nth-child(5),
.reasons-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-about {
  background-color: #ffffff;
}

.reasons-about-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons-about-description {
  text-align: center;
}

.reasons-about-item:nth-child(1),
.reasons-about-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-title {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons-number {
  text-align: center;
  text-transform: uppercase;
}

.reasons-description {
  text-align: center;
}

.sub-title-white {
  color: #ffffff;
}

.reasons-number-white {
  color: #ffffff;
}

.reasons-description-white {
  color: #ffffff;
}

.searching-hotels-title {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.searching-hotels-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.contact-us {
  background-image: url("../assets/images/home/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.contact-us-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-us-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.field-email {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  width: 600px;
  height: 60px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.footer-contacts-phone {
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-welcome {
  background-image: url("../assets/images/home/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Catalog */

.main-inner {
  background-image: url("../assets/images/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.price-controls input {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.min-price,
.max-price {
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #ffffff 0.3;
}

.element-prev-name-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}

.select-control option {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.found-hotels-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.element-name-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.rate {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
}

/* buttons */

.button {
  display: inline-block;
  width: 160px;
  height: 37px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-load {
  font-size: 20px;
  line-height: 26px;
  width: 625px;
  height: 55px;
}

.button-apply {
  height: 48px;
}

.button-drop {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
}

.button-contact-us {
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}

.button-search {
  border-radius: 10px;
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
}

.button-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
